<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.telecomitalia.timcoupon"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="2.1.11" >

    <uses-sdk
        android:minSdkVersion="8"
         />

    <!-- Telephony for getting SIM card IMSI number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM -->
    <permission
        android:name="it.telecomitalia.timcoupon.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="it.telecomitalia.timcoupon.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="it.telecomitalia.timcoupon.GreatBuyzApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="it.telecomitalia.timcoupon.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.tim.greatbuyz.com"
                    android:path="/timcoupons"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="it.telecomitalia.timcoupon.LaunchApp" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.SampleTabsStyled"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.DetailScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.DetailScreenNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.MyDealsDetailScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.RegistrationFragmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.WelcomeBonusActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.NotificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.SetAlertsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="it.telecomitalia.timcoupon.ui.IPChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="it.telecomitalia.timcoupon" />
            </intent-filter>
        </receiver>

        <service android:name="it.telecomitalia.timcoupon.GCMIntentService" />
        <service android:name="it.telecomitalia.timcoupon.service.GCMResultService" />
        <meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
    </application>

</manifest>