<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turacomobile.greatbuyz"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="8"
         />

    <!-- Telephony for getting SIM card IMSI number -->
        <permission
        android:name="com.turacomobile.greatbuyz.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
     <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- GCM -->
     <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.turacomobile.greatbuyz.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> 

    <application
        android:name="com.turacomobile.greatbuyz.GreatBuyzApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.turacomobile.greatbuyz.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.tim.greatbuyz.com"
                    android:path="/timcoupons"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.turacomobile.greatbuyz.LaunchApp" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.SampleTabsStyled"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.DetailScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.DetailScreenNew"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
                <activity
            android:name="com.turacomobile.greatbuyz.ui.CouponDetailScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.MyDealsDetailScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.RegistrationFragmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.WelcomeBonusActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.NotificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.SetAlertsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.IPChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.GiftFriendScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.turacomobile.greatbuyz.ui.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
	
        <!-- GCM -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.turacomobile.greatbuyz" />
            </intent-filter>
        </receiver>

        <service android:name="com.turacomobile.greatbuyz.GCMIntentService" />
        <service android:name="com.turacomobile.greatbuyz.service.GCMResultService" /> 
    </application>

</manifest>